<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>Test Parser</title>

		<!-- Bootstrap core CSS -->
		<link href="<%= static_path + "/bootstrap/css/theme/" + theme + "/bootstrap.min.css" %>" rel="stylesheet">
		
		<!-- Custom styles for this app -->
		<link href="<%= static_path + "/bootstrap/css/theme/" + theme + "/app.css" %>" rel="stylesheet">

		<!-- Script - JQuery -->
		<script src="<%= static_path + "/jquery/jquery-3.3.1.min.js" %>" type="text/javascript"></script>

		<!-- Script  - Bootstrap core JS -->
		<script src="<%= static_path + "/bootstrap/js/bootstrap.min.js" %>" type="text/javascript"></script>

		<!-- Script - Chart.js -->
		<script src="<%= static_path + "/listjs/list.min.js" %>" type="text/javascript"></script>

		<!-- Script - Main (Common) JS for this webapp -->
		<script src="<%= static_path + "/scripts/main.js" %>" type="text/javascript"></script>

		<!-- Data from controller -->
		<script>
			var username = "<%= username %>";
		</script>
