<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>Test Parser</title>
		<!-- Bootstrap core CSS -->
		<link href="<%= static_path + "/bootstrap/css/theme/" + theme + "/bootstrap.min.css" %>" rel="stylesheet">
		<!-- Custom styles for this template -->
		<link href="<%= static_path + "/bootstrap/css/theme/" + theme + "/dashboard.css" %>" rel="stylesheet">
		<!-- Script - Main (Common) JS for this webapp -->
		<script src="<%= static_path + "/scripts/main.js" %>" type="text/javascript"></script>
		<!-- Script - Main (Common) JS for this webapp's results views -->
		<script src="<%= static_path + "/scripts/main-results.js" %>" type="text/javascript"></script>
		<!-- Data from controller -->
		<script>
			var username = "<%= username %>";
		</script>
	</head>
	<body>
		<%- include ./partials/nav-top.ejs %>
		<div class="container-fluid">
			<%- include ./partials/nav-sidebar.ejs %>
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
				<div class="clearfix">
					<h1 class="h2" style="float: left;">Live Results</h1>
					<button id="deleteAll" type="button" class="btn btn-danger" style="float: right;" onclick="deleteAllLive()" title="Delete all live results">Delete All</button>
					<a id="dlink"  style="display:none;"></a>
					<input type="button" class="btn btn-primary" style="float: right; margin-right: .25rem;" onclick="tableToExcel('resultsTable', 'live', 'live-results.xls')" value="Export to Excel" />
					<script src="/public/scripts/table-to-excel.js"></script>
				</div>
				<%- include ./partials/results-summary-span.ejs %>
				<%- include ./partials/results-table.ejs %>
				<script src="/public/scripts/live-results.js"></script>
			</main>
		</div>
	</body>
</html>
