<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- App Header -->
		<%- include ./partials/app-header.ejs %>
	</head>
	<body>
		<%- include ./partials/nav-top.ejs %>
		<div class="container-fluid">
			<%- include ./partials/nav-sidebar.ejs %>
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
				<div class="clearfix">
					<h1 class="h2" style="float: left;">Live Results</h1>
					<button id="deleteAll" type="button" class="btn btn-danger" style="float: right;" onclick="deleteAllLive()" title="Delete all live results">Delete All</button>
					<a id="dlink"  style="display:none;"></a>
					<input type="button" class="btn btn-primary" style="float: right; margin-right: .25rem;" onclick="tableToExcel('resultsTable', 'live', 'live-results.xls')" value="Export to Excel" />
					<script src="/public/scripts/table-to-excel.js"></script>
				</div>
				<%- include ./partials/results-summary-span.ejs %>
				<%- include ./partials/results-table.ejs %>
				<script src="/public/scripts/main-results.js"></script>
				<script src="/public/scripts/live-results.js"></script>
			</main>
		</div>
	</body>
</html>
