<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>Test Parser</title>
		<!-- Bootstrap core CSS -->
		<link href="<%= static_path + "/bootstrap/css/theme/" + theme + "/bootstrap.min.css" %>" rel="stylesheet">
		<!-- Custom styles for this template -->
		<link href="<%= static_path + "/bootstrap/css/theme/" + theme + "/dashboard.css" %>" rel="stylesheet">
	</head>
	<body>
		<%- include ./partials/navtop.ejs %>
		<div class="container-fluid">
			<%- include ./partials/navside.ejs %>
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
				<h1 class="h2">Upload Results</h1>
				<%- include ./partials/upload-results-form.ejs %>
			</main>
		</div>
	</body>
</html>
